/* css reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */

body{
    background-color: #18191b;
    color: white;
    font-size: 2rem;
}


#photo{
    border-radius: 0 0 15px 15px;
    padding: 20px 0;
}

/* body first top */

#photo .top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}


/* name on top */

#photo .top #name{
    font-size: 2.3rem;
}

 #photo .top #name span{
    position: absolute;
    top: 5px;
} 

/* cover photo */

#photo #cover-photo{
    height: 33vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    isolation: isolate;
}

#photo #cover-photo label{
    font-size: 2rem;
    position: relative;
    top: 8vh;
}

#cover-photo::before{
    background: url('https://i.pinimg.com/originals/7b/c4/8b/7bc48bd31e54b93d2c3ed8fd1e4238ae.jpg');
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.2;
    
}

#photo #cover-photo label span{
    position: relative;
    top: 5px;
    right : 15px;
}




/* profile picture */

.profile-pic{
    border-radius : 50%;
    height : 250px;
    width : 250px;
    position: absolute;
    top : 27vh;
    left: 2vw;
    z-index: 3;
  }
.profile-pic img{
    height : 250px;
    width : 250px;
    border-radius : 50%;
  }
 
 /* details */
 
#photo #names{
    margin-bottom: 10px;
}

#photo #names #name2{
    margin: 100px 1vh;
    margin-bottom: 30px;
    font-size: 3rem;
    padding: 25px 2px;
}



/* buttons */

#photo #btn{
    margin: 0 1vh;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 20px 2px;
    border-radius: 15px;
    border: none;
    background-color: #393a3c;
    color: white;
    text-align: center;
    flex-grow: 1;
}


#photo #btn #story{
    width: 350px;
    background-color: #0865fe;
    color: #edffff;
    margin-right: 10px; 
}

#photo #btn #edit{
    width: 460px; 
    margin-right: 10px;
}

#photo #btn #more{
    width: 100px;
    margin-right: 10px;
}

/* reels */

#frnds{
    border-radius: 25px;
    margin-bottom: 30px;
}

#frnds #reels{
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 2rem;
    font-weight: 400;
}

#frnds #reels .preel{
    margin: 10px 20px;
    padding: 10px 15px;
    border-radius: 30px;
}

#frnds #reels .preel:hover{
    background-color: #23394f;
    color: #38618c;
}

/* details */

#frnds #details .head{
    margin: 40px 1vh;
    font-size: 3rem;
} 

/* frnd count */

#frnd-count{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}



#details .para p span{
    position: relative;
    top: 10px;
}

#edit-details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 10px;
    padding: 20px 2px;
}

#edit-details button{
    background-color: #23394f;
    color: #38618c;
    width: 95vw;
    font-size: 2rem;
    border: none;
    border-radius: 15px;
}


/* icons */

#frnds #icons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    margin: 10px 1vw;
}

#frnds #icons .icon{
    height: 375px;
    width: 31vw;
}

#frnds #icons .icon img{
    height: 300px;
    width: 31vw;
    border-radius: 25px;
}

/* see all friends button */

#frnds #see-frnd {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 1vw;
    padding: 50px 0;
}

/* mindss */

#mind{
    padding: 30px 0;
}

#mind #filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#mind .live{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 1vh;
}

#mind .live span{
    position: relative;
    top: 10px;
}

#red{
    color: red;
}

#green{
    color: green;
}

#blue{
    color: blue;
}



.mpost{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.mpost .btn{
    display: flex;
    justify-content: center; 
    align-items: center;
}

/* photos */

#photos{
    padding: 10px;
}

#photos .para{
    margin: 30px 1vh;
}

#photos .para span{
    position: relative;
    top: 10px;
}

#photos #opic{
    border-radius: 40px;
    background-color: #393a3c;
    padding: 5px;
    width: 20%;
}


/* post */

#post{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.posting{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4vh 0;
}

.posting img{
    border-radius: 50%;
    border: 5px solid #242527;
}

.likes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5vh 0;
}
.likes span{
    position: relative;
    top: 5px;
    right: 5px;
}

/* utility classes */

.bodies{
    background-color: #242527;
    margin-bottom: 30px;
}

input[type="file"]{
    display: none;
}

.para{
    font-size: 2.3rem;
    line-height: 70px;
    margin: 0 1vh;
}

.detailsp{
    margin: 1vh 1vh;
    line-height: 50px;
}

.blue{
    color: skyblue;
}

.btn{
    background-color: #393a3c;
    color: white;
    width: 95vw;
    font-size: 2rem;
    border: none;
    border-radius: 15px;
    margin: 10px 0;
}

.whatmind{
    display: flex;
    align-items: center;
    padding: 50px 2vw;
}

.whatmind img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    
}

.hrline{
    height: 50px;
    width: 2px;
    background-color: silver;
}

.span{
    font-size: 3rem;
}

.small{
    font-size: 2rem;
    position: relative;
    bottom: 20px;
}
.line{
    width: 90vw;
    height: 2px;
    background-color: silver;
    text-align: center;
}


/* responsive */

/* for small phones */


